/* adding font--start */

@font-face {
  font-family: "Messina Sans";
  src: url("./assets/font/MessinaSans-Regular.ttf");
}

@font-face {
  font-family: "Nantes";
  src: url("./assets/font/Nantes-Regular.ttf");
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("./assets/font/NeueHaasUnica-Regular.ttf");
}

.font-nantes {
  font-family: "Nantes";
}

.font-Neue {
  font-family: "Neue Haas Unica";
}

.font-messina {
  font-family: "Messina Sans";
}

/* adding font--end */

/* Header section */

#banner {
  background-image: url("./assets/img/banner_ex.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}


#nav{
  width: 100%;
  max-width: inherit;
}

.sticky {
  #nav-child {
    background-color: #f3f3f3;
    border-radius: 10px;
    transition-duration: 500ms;
  }
  & #company-logo {
    .company-name {
      fill: black;
    }
  }
  & #right-side {
    color: #000;
    & #share,
    #report {
      border-color: #000;
    }
  }
}


/* 
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
} */